name: AnyDesk-Gaming-VM
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Setup AnyDesk
      shell: pwsh
      run: |
        $ProgressPreference = 'SilentlyContinue'
        # 1. Download AnyDesk
        curl.exe -L -o anydesk.exe https://download.anydesk.com/AnyDesk.exe
        
        # 2. Start AnyDesk and set a password
        # Password is set to: Gaming123
        echo "Gaming123" | .\anydesk.exe --set-password
        Start-Process .\anydesk.exe
        
        # 3. Wait for AnyDesk service to generate the ID
        Write-Host "Waiting 30 seconds for AnyDesk ID..."
        Start-Sleep -Seconds 30
        
        # 4. Force-print the ID to the logs
        $anyid = & .\anydesk.exe --get-id
        Write-Host "*******************************************"
        Write-Host "YOUR ANYDESK ID IS: $anyid"
        Write-Host "*******************************************"

    - name: Keep Alive (6 Hours)
      run: |
        $i = 0
        while($i -lt 360) {
          Start-Sleep -Seconds 60
          $i++
        }
