name: Windows-Gaming-VM
on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download & Install Tailscale
      run: |
        Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -OutFile tailscale-setup.exe
        Start-Process -FilePath .\tailscale-setup.exe -ArgumentList "/quiet" -Wait
    - name: Connect to Tailscale
      shell: pwsh
      run: |
        & 'C:\Program Files\Tailscale\tailscale.exe' up --authkey=${{ secrets.TAILSCALE_AUTHKEY }}
    - name: Enable Remote Desktop
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - name: Keep Alive (6 Hours)
      run: |
        $i = 0
        while($i -lt 360) {
          Write-Host "VM is running... Time elapsed: $i minutes"
          Start-Sleep -Seconds 60
          $i++
        }
