name: Ultimate-AnyDesk-VM
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Setup AnyDesk (Force ID Extraction)
      shell: pwsh
      run: |
        $ProgressPreference = 'SilentlyContinue'
        # 1. Download and Install AnyDesk as a Service
        curl.exe -L -o anydesk.exe https://download.anydesk.com/AnyDesk.exe
        .\anydesk.exe --install "C:\Program Files (x86)\AnyDesk" --start-with-win --silent
        
        # 2. Set the password to: Gaming123
        echo "Gaming123" | & "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --set-password
        
        # 3. Wait for the service to wake up and generate an ID
        Write-Host "Waking up AnyDesk... (Wait 45s)"
        Start-Sleep -Seconds 45
        
        # 4. Extract ID from the system configuration file
        $anyid = & "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --get-id
        Write-Host "*******************************************"
        Write-Host "YOUR ANYDESK ID IS: $anyid"
        Write-Host "*******************************************"

    - name: Keep Alive (6 Hours)
      run: |
        Write-Host "VM is running! Connect using the ID above."
        $i = 0
        while($i -lt 360) {
          Start-Sleep -Seconds 60
          $i++
        }
