name: Connect-RDP-BackToBasics
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: 1. Download & Start AnyDesk
      run: |
        # Use the direct download link you used before
        curl.exe -L -o anydesk.exe https://download.anydesk.com/AnyDesk.exe
        # Set password
        echo "MySafePassword123!" | ./anydesk.exe --set-password
        # Start the service
        ./anydesk.exe --service &
        Start-Sleep -Seconds 45
      shell: pwsh

    - name: 2. Reveal ID (Old Method + Force)
      run: |
        # This is the line that worked for you before
        $ID = ./anydesk.exe --get-id
        
        # This is the 'Force' to make sure it shows in the log
        Write-Host "------------------------------------------------" -ForegroundColor Green
        Write-Host "ANYDESK ID: $ID" -ForegroundColor Cyan
        Write-Host "PASSWORD: MySafePassword123!" -ForegroundColor Yellow
        Write-Host "------------------------------------------------" -ForegroundColor Green
        
        # If the above is blank, this searches the system file directly
        Get-Content "C:\ProgramData\AnyDesk\system.conf" | Select-String "ad.anynet.id="
      shell: pwsh

    - name: 3. Keep Alive
      run: while($true){ Start-Sleep -Seconds 60 }
