    - name: 0. Fast Restore
      uses: dawidd6/action-download-artifact@v3
      continue-on-error: true 
      with:
        name: My-RDP-Backup
        path: C:\Restore
        # MANDATORY FIX: Change this to rdp.yml to match your new filename
        workflow: rdp.yml 
