name: Ultimate-Gaming-VM-V22
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1. Setup S Drive
        run: |
          echo create vdisk file='C:\disk.vhd' maximum=30720 type=expandable > ds
          echo attach vdisk >> ds
          echo create partition primary >> ds
          echo format fs=ntfs quick label='Gaming' >> ds
          echo assign letter=S >> ds
          diskpart /s ds
          mkdir S:\Backup

      - name: 2. Install Mega and AnyDesk
        run: |
          curl -L -o m.exe https://mega.nz/MEGAcmdSetup64.exe
          start /wait m.exe /S
          curl -L -o a.exe https://download.anydesk.com/AnyDesk.exe
          ./a.exe --install C:\AnyDesk --start-with-win --silent

      - name: 3. Login and Restore
        shell: pwsh
        env:
          M_USER: ${{ secrets.MEGA_EMAIL }}
          M_PASS: ${{ secrets.MEGA_PASSWORD }}
        run: |
          $m = "${env:LOCALAPPDATA}\MEGAcmd"
          Start-Process "$m\MEGAcmdServer.exe" -WindowStyle Hidden
          Start-Sleep -Seconds 20
          & "$m\mega-login.bat" "$env:M_USER" "$env:M_PASS"
          & "$m\mega-mkdir.bat" /GamingVM
          & "$m\mega-get.bat" /GamingVM S:\

      - name: 4. Start AnyDesk and Show ID
        shell: pwsh
        run: |
          echo "GitHub@2026" | & "C:\AnyDesk\AnyDesk.exe" --set-password
          Start-Sleep -Seconds 30
          $ID = Select-String -Path "C:\ProgramData\AnyDesk\system.conf" -Pattern "ad.anynet.id=(.*)" | % { $_.Matches.Groups[1].Value }
          Write-Host "ANYDESK_ID: $ID"

      - name: 5. Permanent Background Save
        shell: pwsh
        run: |
          $m = "${env:LOCALAPPDATA}\MEGAcmd"
          while ($true) {
            reg export "HKCU\Control Panel\Desktop" "S:\Backup\System.reg" /y
            & "$m\mega-put.bat" S:\Backup /GamingVM/
            & "$m\mega-put.bat" S:\WallpaperEngine /GamingVM/
            Start-Sleep -Seconds 60
          }
