name: Ultimate-Gaming-VM-RustDesk-v3
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-2022
    timeout-minutes: 360

    steps:
      - name: 1. Speed-Setup
        shell: pwsh
        run: |
          $dirs = "C:\GamingVM\Backup", "C:\GamingVM\Startup"
          foreach ($dir in $dirs) { if (!(Test-Path $dir)) { New-Item -ItemType Directory -Path $dir -Force } }
          
          # Visual C++
          curl.exe -L -o vc_redist.x64.exe https://aka.ms/vs/17/release/vc_redist.x64.exe
          Start-Process ./vc_redist.x64.exe -ArgumentList "/install", "/quiet", "/norestart" -Wait
          
          # MEGAcmd
          curl.exe -L -o mega_setup.exe https://mega.nz/MEGAcmdSetup64.exe
          Start-Process ./mega_setup.exe -ArgumentList "/S" -Wait
          
          # RustDesk
          curl.exe -L -o rustdesk.exe https://github.com/rustdesk/rustdesk/releases/download/1.2.3-2/rustdesk-1.2.3-2-x86_64.exe
          Start-Process ./rustdesk.exe -ArgumentList "--install"

      - name: 2. 60FPS Hardening
        shell: pwsh
        run: |
          & powercfg.exe /s 8c5e7fda-e8bf-4a96-9a85-a6e23a8c635c
          & reg.exe add "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Multimedia\SystemProfile\Tasks\Games" /v "GPU Priority" /t REG_DWORD /d 8 /f
          & reg.exe add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\VisualEffects" /v VisualFXSetting /t REG_DWORD /d 2 /f
          & reg.exe add "HKCU\Software\Microsoft\Windows\CurrentVersion\Themes\Personalize" /v EnableTransparency /t REG_DWORD /d 0 /f

      - name: 3. MEGA Restore
        shell: pwsh
        env:
          M_USER: ${{ secrets.MEGA_EMAIL }}
          M_PASS: ${{ secrets.MEGA_PASSWORD }}
        run: |
          $m = "${env:LOCALAPPDATA}\MEGAcmd"
          Start-Process "$m\MEGAcmdServer.exe" -WindowStyle Hidden
          Start-Sleep -Seconds 30
          & "$m\mega-login.bat" "$env:M_USER" "$env:M_PASS"
          & "$m\mega-get.bat" /GamingVM/Data.7z C:\
          if (Test-Path "C:\Data.7z") {
            7z x C:\Data.7z -oC:\GamingVM\ -y
            Remove-Item "C:\Data.7z" -Force
            Get-ChildItem "C:\GamingVM\Startup" | ForEach-Object { Start-Process $_.FullName }
          }
          if (Test-Path "C:\GamingVM\Backup\System.reg") { reg import "C:\GamingVM\Backup\System.reg" }

      - name: 4. Connection
        shell: pwsh
        run: |
          Start-Sleep -Seconds 15
          & "C:\Program Files\RustDesk\rustdesk.exe" --password "GitHub@2026"
          $ID = & "C:\Program Files\RustDesk\rustdesk.exe" --get-id
          Write-Host "===================================="
          Write-Host " RUSTDESK ID: $ID"
          Write-Host " PASSWORD:    GitHub@2026"
          Write-Host "===================================="
          while ($true) { Start-Sleep -Seconds 3600 }

      - name: 5. Sync
        if: always()
        shell: pwsh
        run: |
          $m = "${env:LOCALAPPDATA}\MEGAcmd"
          reg export "HKEY_CURRENT_USER\Control Panel\Desktop" "C:\GamingVM\Backup\System.reg" /y
          7z a C:\Data.7z C:\GamingVM\* -y
          & "$m\mega-put.bat" -c C:\Data.7z /GamingVM/
