    - name: Start AnyDesk and Set Password
      run: |
        curl.exe -L -o anydesk.exe https://download.anydesk.com/AnyDesk.exe
        # This is the secret 2026 fix: Pipe the password into AnyDesk
        echo "MySafePassword123!" | ./anydesk.exe --set-password
    - name: SHOW MY ID
      run: |
        Start-Sleep -Seconds 15
        $ID = ./anydesk.exe --get-id
        Write-Host "------------------------------------------------" -ForegroundColor Green
        Write-Host "YOUR ANYDESK ID IS: $ID" -ForegroundColor Cyan
        Write-Host "YOUR PASSWORD IS: MySafePassword123!" -ForegroundColor Yellow
        Write-Host "------------------------------------------------" -ForegroundColor Green
